.app__navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: fixed;
  z-index: 2;
}

.app__navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;

  li {
    cursor: pointer;
    flex-direction: column;

    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
    }

    a {
      color: var(--gray-color);
      text-transform: uppercase;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  margin-left: auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  cursor: pointer;

  svg {
    width: 70%;
    height: 70%;
    color: white;
  }

  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    padding: 1rem;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background: url("../../assets/bgWhite.png");
    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;

    box-shadow: 0 0 20px (rgab(168, 168, 168, 0.15));

    svg {
      width: 35px;
      height: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
    }

    ul {
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    li {
      margin: 1rem;

      a {
        color: var(--gray-color);
        text-decoration: none;
        font-size: 1rem;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        font-weight: 500;

        &hover {
          color: var(--secondary-color);
        }
      }
    }

    @media screen and (min-width: 900px) {
      display: none;
    }
  }
  @media screen and (min-width: 900px) {
    display: none;
  }
}
